<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PAGE</title>

    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        
        h1 {
            font-size: 100px;
            text-align: center;
            padding-top: 80px;
        }

        h2 {
            font-size: 40px;
            text-align: center;
            padding-top: 30px;
        }

        .btn {
            margin-left: 590px;
            margin-top: 90px;
            padding: 1% 10%;
        }
        
    </style>

</head>

<body>
    <h1><b>WELCOME</b></h1>
    <h2>지수의 자기소개 페이지에 오신 것을 환영합니다!</h2>
    <a href="{% url 'myhome'%}"><button type="button" class="btn btn-default btn-lg">입장하기</button></a>
</body>

</html>